<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheDirectory="var/phpunit">
    <testsuites>
        <testsuite name="php-easy-http">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
